// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$background: #FFF;
$poli-right: #c61e15;
$poli-left: #172556;
$link: #C09724;
$primary: #333;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

html {
    background-color: $background;
}

p a {color: $link; font-weight: bold;}
p a:hover {color: $link;}
p a:visted {color: $link;}

.background-color-left {
    background-color: $poli-left;
}
.background-color-right {
    background-color: $poli-right;
}

.color-left {
    color: $poli-left;
}

.color-right {
    color: $poli-right;
}

.brand {
    font-weight: bold;
    font-size: 3em;
}

.container {max-width: 750px;}
